.body {
  background: #adadad;
}

.text-column {
  padding-top: 20px;
  background: $background-color;
  margin: 0 10px;
}

.page-content {
  display: flex;
  justify-content: center;
}

.site-header {
  justify-content: center;
  text-transform: uppercase;
  color: #F9F8F8;
  margin-bottom: 10px;
}

.site-footer {
  display: flex;
  justify-content: center;
  background: rgba(12,12,12,0.9);

  .wrapper {
    flex-grow: 1;
  }
}

.about {
  margin: 20px 0;
  text-align: center;
}

.about-wrapper {
  margin-bottom: 40px;
}
