<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <link rel="stylesheet" href="/main.css" />
  </head>

  <body class="body">
    <main class="page-content" aria-label="Content">
      <div class="text-column wrapper">
        <header class="site-header" role="banner">
          <div class="wrapper">
            <h1 class="site-title">Enlight Fragments</h1>
          </div>
        </header>

        <hr class="post-separator" />

        <div class="home">
          <h1 class="page-heading"></h1>

          <h3 class="about">
            Dear readers. Welcome to this page you've just happened to land on.
            These ideas are something to be sunlight in the darkness of mind. To
            provide guidance in unthinkable, incomprehensible and eternal.
          </h3>

          <hr class="about-separator" />

          <ul class="post-list">
            {{ range sort .Pages "PublishDate" }}
              <li>
                <h2 class="post-title">{{ .Title }}</h2>
                {{ .Content }}
                <div class="post-meta">{{ .PublishDate | time.Format ":date_medium" }}</div>
                <hr class="post-separator" />
              </li>
            {{ end }}
          </ul>
        </div>
      </div>
    </main>

    <footer class="site-footer">
      <div class="wrapper">
        <div class="footer-line">
          <span>Enlight Fragments</span>

          <a href="mailto:enlightfragments@gmail.com">
            enlightfragments@gmail.com
          </a>

          <a href="/rss.xml" class="rss" target="_blank">
            <svg class="rss-svg" xmlns="http://www.w3.org/2000/svg" width="64" height="64" shape-rendering="geometricPrecision" text-rendering="geometricPrecision" image-rendering="optimizeQuality" fill-rule="evenodd" clip-rule="evenodd" viewBox="0 0 640 640">
              <path fill="currentColor" d="M85.206 469.305C38.197 469.305 0 507.632 0 554.345c0 46.95 38.197 84.876 85.206 84.876 47.15 0 85.324-37.926 85.324-84.876 0-46.713-38.162-85.04-85.324-85.04zM.083 217.42v122.683c79.89 0 154.963 31.24 211.514 87.84 56.492 56.434 87.686 131.872 87.686 212.07h123.202c0-232.987-189.57-422.556-422.403-422.556v-.036zM.236-.012v122.706c284.885 0 516.727 232.078 516.727 517.282l123.037.012C640 287.188 352.953 0 .248 0L.236-.012z"/>
            </svg>
            RSS
          </a>
        </div>
      </div>
    </footer>
  </body>
</html>
