<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <link rel="stylesheet" href="/main.css" />
  </head>

  <body class="body">
    <main class="page-content" aria-label="Content">
      <div class="text-column wrapper">
        <header class="site-header" role="banner">
          <div class="wrapper">
            <h1 class="site-title">Enlight Fragments</h1>
          </div>
        </header>

        <hr class="post-separator" />

        <div class="home">
          <h1 class="page-heading"></h1>

          <h3 class="about">
            Dear readers. Welcome to this page you've just happened to land on.
            These ideas are something to be sunlight in the darkness of mind. To
            provide guidance in unthinkable, incomprehensible and eternal.
          </h3>

          <hr class="about-separator" />

          <ul class="post-list">
            {{ range sort .Pages "PublishDate" }}
              <li>
                <h2 class="post-title">{{ .Title }}</h2>
                {{ .Content }}
                <div class="post-meta">{{ .PublishDate | time.Format ":date_medium" }}</div>
                <hr class="post-separator" />
              </li>
            {{ end }}
          </ul>
        </div>
      </div>
    </main>

    <footer class="site-footer h-card">
      <div class="wrapper">
        <div class="footer-col-wrapper">
          <div class="footer-col footer-col-1">
            <ul class="contact-list">
              <li class="p-name">Enlight Fragments</li>

              <li>
                <a class="u-email" href="mailto:enlightfragments@gmail.com">
                  enlightfragments@gmail.com
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
