.body {
  &::before {
    pointer-events: none;
    position: fixed;
    top: 0;
    content: "";
    width: 100vw;
    height: 100vh;
    background: url(/assets/bg-1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  & > * {
    z-index: 1;
  }
}

.text-column {
  padding-top: 20px;
  background: $background-color;
  margin: 0 10px;
}

.page-content {
  display: flex;
  justify-content: center;
}

.site-header {
  display: flex;
  justify-content: center;
  background: #000;
  text-transform: uppercase;
  color: #F9F8F8;
}

.site-footer {
  display: flex;
  justify-content: center;
  background: #000;

  .wrapper {
    flex-grow: 1;
  }
}

.about {
  margin-bottom: 20px;
}

.about-wrapper {
  margin-bottom: 40px;
}
