.body {
  &__bg {
    z-index: 1;
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    width: 100vw;
    height: 100vh;

  }

  &__img {
    min-height: 100vh;
    min-width: 100vw;
  }

  & > * {
    z-index: 2;
  }
}

.text-column {
  padding-top: 20px;
  background: $background-color;
  margin: 0 10px;
}

.page-content {
  display: flex;
  justify-content: center;
}

.site-header {
  background: rgba(12,12,12,0.9);
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  color: #F9F8F8;
}

.site-footer {
  display: flex;
  justify-content: center;
  background: rgba(12,12,12,0.9);

  .wrapper {
    flex-grow: 1;
  }
}

.about {
  margin-bottom: 20px;
}

.about-wrapper {
  margin-bottom: 40px;
}
