<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body class="body">

    <picture class="body__bg">
      <source class="body__img" src="/assets/bg-1.webp" type="image/webp">
      <img class="body__img" srcset="/assets/bg-1.jpg" alt="Fluid">
    </picture>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="text-column wrapper">
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}

  </body>

</html>
