---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}
  <p>
If you wander that is this: this is the most important fragments of me, as I deem.
These are fragments, not connected, not taken from books, not taken from other's opinions,
taken only from something what's inside, what is me.
It's ugly and beautiful at the same time, depending on how you look at it.
I didn't like it, but it doesn't matter if I like it, it just makes sense to me,
that most important stuff should take place here. Opinions change.
And it's time, because time is limited, as we all know.
And some feel death is frightening, but when I do my Art, it calms me.
  </p>
  {{ content }}

  <ul class="post-list">
    {%- for post in site.posts reversed -%}
    <li>
      <h2 class="post-title">
        {{ post.title | escape }}
      </h2>
      {{ post.content }}

      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
      <div class="post-meta">
        {{ post.date | date: date_format }}
      </div>
      <hr class="post-separator">
    </li>
    {%- endfor -%}
  </ul>
</div>
