<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/assets/main.css">
  </head>

  <body class="body">
    <main class="page-content" aria-label="Content">
      <div class="text-column wrapper">
        <header class="site-header" role="banner">
          <div class="wrapper">
            <h1 class="site-title">
              Enlight Fragments
            </h1>
          </div>
        </header>

        <hr class="post-separator">

        <div class="home">
          <h1 class="page-heading">{{ page.title }}</h1>

          <h3 class="about">
            Dear readers. Welcome to this page you just happened to land on.
            These ideas are something to be sunlight in the darkness of mind.
            To provide guidance in unthinkable, incomprehensible and eternal.
          </h3>

          <hr class="about-separator">

          <ul class="post-list">
            {%- for post in site.posts reversed -%}
            <li>
              <h2 class="post-title">
                {{ post.title | escape }}
              </h2>
              {{ post.content }}

              {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
              <div class="post-meta">
                {{ post.date | date: date_format }}
              </div>
              <hr class="post-separator">
            </li>
            {%- endfor -%}
          </ul>
        </div>
      </div>
    </main>

    <footer class="site-footer h-card">
      <div class="wrapper">
        <div class="footer-col-wrapper">
          <div class="footer-col footer-col-1">
            <ul class="contact-list">
              <li class="p-name">
                Enlight Fragments
              </li>

              <li>
                <a class="u-email" href="mailto:enlightfragments@gmail.com">
                  enlightfragments@gmail.com
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
